* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  margin-top: 5px;
  height: 100%;
}
.instructions-container {
  background: #ffffff;
  position: relative;
  width: 70%;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
}
.backdrop {
  position: fixed;
  display: none;
  z-index: 3;
  background-color: #ffffff;
  background: transparent;

  width: 100%;
  height: 100%;
}
.btn-sound {
  display: none;
}
.timer-popup {
  display: none;
  position: absolute;
  width: 30%;
  margin: 0 auto;
  background: #ffffff;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  z-index: 100;
}

.alert {
  display: none;
  text-align: center;
  color: red;
  font-weight: bold;
}
.timer-popup p:nth-child(2) {
  margin-top: 10px;
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.time-limit {
  padding: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
  width: 50%;
  margin: 5px auto;
  background: rgb(9, 185, 9);
}

.instruction-text {
  padding: 5px 0 0 5px;
  color: rgb(65, 4, 139);
}
.instruction-order {
  padding: 10px;
}
.instruction-order li {
  list-style-type: none;
  position: relative;
  color: red !important;
  font-weight: bold;
  line-height: 20px; /* It's needed for setting position to absolute in the next rule. */
}

.instruction-order li::before {
  content: "\2714";
  color: red !important;
  position: absolute;
  left: -30px; /* Adjust this value so that it appears where you want. */
  font-size: 13px; /* Adjust this value so that it appears what size you want. */
}
.instruction-order li {
  margin-bottom: 5px !important;
}
.instructions-form {
  width: 70%;

  margin: 0 auto;
}

input:focus {
  outline: none;
}
.form1-name input {
  width: 100%;
  border: none;
  display: inline-block;
}

.form1-title {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.instructions-form-container {
  margin-top: 20px;
}
.form1-name {
  padding: 3px;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form1-name input {
  width: 90%;
  border-radius: 10px;
  padding: 4px;
  vertical-align: middle;
}
.form1-timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}

.quiz-type {
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 10px;
}
.quiz-options {
  width: 90%;
  margin: 5px auto;
}

.quiz-start {
  padding: 10px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: block;
  width: 70%;
  margin: 5px auto;
  background: rgb(9, 185, 9);
}
.fa-user:before {
  font-size: 30px;
  vertical-align: middle;
}

.fa-clock-o:before {
  font-size: 30px;
}

/* slider */
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 2px solid black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  top: 2px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
  background: white;
}

/* //radio button */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  border-radius: 50px;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.time-text {
  margin-right: 30px;
}

.cancel {
  border: none;
  background: none;
  float: right;
  margin: 0 10px 0 0;
  font-size: 30px;
}

/*------ ADDED CSS ---------*/
.slider:after {
  content: "OFF";
  color: black;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
  content: "ON";
  color: white;
}

/*--------- END --------*/

@media only screen and (max-width: 800px) {
  .instructions-container {
    width: 98%;
  }

  .instructions-form {
    width: 90%;
  }
  .form1-name input {
    width: 80%;
  }
  .quiz-start {
    width: 90%;
  }
  .timer-popup {
    width: 80%;
    top: 600px;
  }
  .time-limit {
    width: 80%;
  }
  .backdrop {
    width: 100%;
    height: 100%;
  }
}
